# Generate values with: openssl rand -base64 48
AUTHENTIK_SECRET_KEY=
AUTHENTIK_POSTGRES_PASSWORD=

# Used only during the initial startup to create the admin account.
AUTHENTIK_BOOTSTRAP_EMAIL=admin@example.com
AUTHENTIK_BOOTSTRAP_PASSWORD=
AUTHENTIK_BOOTSTRAP_TOKEN=
